<?xml version="1.0" encoding="utf-8"?>
<Game xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" configVersion="0">
  <Identity Name="Integration" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <ShellVisuals DefaultDisplayName="UnityIntegration" PublisherDisplayName="Audiokinetic" StoreLogo="StoreLogo.png" Square150x150Logo="Logo.png" Square44x44Logo="SmallLogo.png" Description="Integration" BackgroundColor="#000000" SplashScreenImage="SplashScreen.png" />
  <VirtualMachine>
    <XboxOneXTitleMemory>Standard</XboxOneXTitleMemory>
    <XboxAnacondaTitleMemory>Standard</XboxAnacondaTitleMemory>
    <SMTEnabled>false</SMTEnabled>
    <RequiresEraShim>false</RequiresEraShim>
  </VirtualMachine>
  <DevelopmentOnly>
    <DebugNetworkPortList>
      <DebugNetworkPort>24024</DebugNetworkPort>
      <DebugNetworkPort>24025</DebugNetworkPort>
      <DebugNetworkPort>24026</DebugNetworkPort>
    </DebugNetworkPortList>
  </DevelopmentOnly>
  <PersistentLocalStorage><SizeMB>1024</SizeMB></PersistentLocalStorage>
</Game>